@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*Colors*/
/*Fonts*/
/*Media Queries*/
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.display-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container {
  background-color: #BDEDE0;
  margin: 2% auto;
  max-width: 95%;
}

.visually-hidden {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 10px;
}

/*Placheholder*/
section .text-section a, main .content-main a, .header-right .auth-buttons a {
  border-radius: 50px;
  padding: 3% 5%;
  text-align: center;
  transition: 0.3s ease-in-out;
}
section .text-section a:hover, main .content-main a:hover, .header-right .auth-buttons a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

section .text-section, main .content-main {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
}

section .text-section a, main .content-main a {
  border: 1px solid #000000;
  color: #000000;
  padding: 5px 8px;
}

.text-footer ul li, .img-social ul li {
  display: inline-block;
  margin: 0 2px;
}

.menu-bugger {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: none;
  min-height: 28px;
  padding-left: 0;
  padding-right: 0;
  transition: 0.3 ease-in-out;
}
@media screen and (max-width: 998px) {
  .menu-bugger {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.menu-bugger:focus {
  outline: none;
}
.menu-bugger__bars {
  background: #017143;
  display: block;
  height: 4px;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 34px;
}
.menu-bugger__bars::before, .menu-bugger__bars::after {
  background-color: #017143;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.menu-bugger__bars::before {
  transform: translate(0, -12px);
}
.menu-bugger__bars::after {
  transform: translate(0, 12px);
}

.menu-open .menu-bugger__bars {
  background: transparent;
}
.menu-open .menu-bugger__bars::before {
  transform: rotate(45deg);
}
.menu-open .menu-bugger__bars::after {
  transform: rotate(-45deg);
}

.modal-overlay {
  background: #ffffff;
  inset: 0;
  position: fixed;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 0.5rem;
  width: 100%;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal-close {
  align-items: center;
  display: flex;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  min-height: 50px;
}
.modal-close img {
  height: 20px;
  width: 20px;
}

.modal-navbar {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}

.modal-navbar_list li {
  width: 100%;
}
.modal-navbar_list li a {
  color: #017143;
  display: inline-block;
  font-family: "Caladea", serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 10px;
  padding: 12px 0;
  width: 100%;
}

.navbar-actions {
  align-items: start;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  margin-top: 40px;
}
.navbar-actions-link {
  color: #8c8c8c;
  letter-spacing: 0.32px;
}

.btn-green {
  background: #017143;
  border-radius: 200px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 20px;
  padding: 10px 40px;
  text-transform: capitalize;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 1%;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: start;
  flex: 1;
  gap: 1rem;
}
.navbar .navbar-list {
  align-items: start;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 998px) {
  .navbar .navbar-list {
    display: none;
  }
}
.navbar .navbar-list .navbar-link {
  color: #000000;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.navbar .navbar-list .navbar-link:hover {
  color: #017143;
}

.header-right {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
}
@media screen and (max-width: 998px) {
  .header-right {
    display: none;
  }
}
.header-right .brand-logo {
  max-width: 150px;
}
.header-right .store-locator {
  color: #000000;
  font-size: 0.9em;
  font-weight: bolder;
  flex: 1;
  text-align: center;
}
.header-right .store-locator i {
  font-size: 1.5em;
}
.header-right .auth-buttons {
  flex: 1;
  text-align: right;
}
.header-right .auth-buttons a {
  display: inline-block;
}
.header-right .auth-buttons .login-btn {
  border: 1px solid #000000;
  color: #000000;
}
.header-right .auth-buttons .signup-btn {
  background-color: #000000;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
}
main img {
  width: 100%;
}
main .content-main {
  padding: 3% 10%;
}
main .content-main p {
  margin-bottom: 2%;
}
@media screen and (max-width: 950px) {
  main .content-main p,
  main .content-main a {
    font-size: 0.8em;
  }
}

section {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
section img {
  width: 50%;
}
section:nth-child(2n+2) {
  flex-direction: row-reverse;
}
section .text-section {
  width: 50%;
  padding: 1% 5%;
}
section .text-section h2 {
  color: #017143;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 4%;
}
section .text-section p {
  margin-bottom: 5%;
}
@media screen and (max-width: 950px) {
  section {
    flex-direction: column;
  }
  section:nth-child(2n+2) {
    flex-direction: column;
  }
  section img {
    width: 100%;
  }
  section .text-section {
    padding-bottom: 8%;
    width: 80%;
  }
  section .text-section h2 {
    font-size: 1.3em;
  }
  section .text-section p,
  section .text-section a {
    font-size: 0.8em;
  }
  section .text-section a {
    display: inline-block;
    width: 100%;
  }
}

footer {
  box-shadow: 3px 0 3px 3px rgba(0, 0, 0, 0.2);
  padding-bottom: 3%;
}

.container-footer {
  margin: 0 auto;
  max-width: 85%;
}

.footer-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 2% 0;
}
.footer-content .card {
  margin: 3% 1%;
  width: 20%;
}
.footer-content .card h3 {
  font-weight: 500;
  margin-bottom: 5%;
}
.footer-content .card ul li {
  font-size: 0.8em;
  font-weight: 400;
  padding: 4% 0;
}
.footer-content .card ul a {
  color: #8c8c8c;
}
.footer-content .card ul a:hover {
  color: #000000;
}
.footer-content .card img {
  width: 60%;
}
@media screen and (max-width: 950px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-content .card {
    width: 100%;
  }
  .footer-content .card img {
    display: none;
  }
}

.hr {
  background-color: #e6e6e6;
  border: none;
  content: "";
  height: 2px;
}

.img-social ul {
  margin: 3% 0;
}
.img-social ul img {
  height: 42px;
  width: 42px;
}
.img-social ul img:hover {
  opacity: 0.7;
}
@media screen and (max-width: 950px) {
  .img-social ul {
    margin: 5% 0;
    text-align: center;
  }
}

.text-footer ul a {
  color: #000000;
  font-weight: 500;
  font-size: 0.9em;
}
.text-footer ul a:hover {
  color: #8c8c8c;
}
@media screen and (max-width: 950px) {
  .text-footer ul li {
    display: block;
    margin: 10% 0;
  }
}

.copyright {
  margin: 2% 0;
}
.copyright p {
  color: #8c8c8c;
  font-size: 0.9em;
}

/*# sourceMappingURL=main.css.map */
