/*Colors*/
$black: #000000;
$aero-blue: #BDEDE0;
$gray: #8c8c8c;
$green : #017143;
$light-gray: #e6e6e6;
$white: #ffffff;

/*Fonts*/
$font-size: 0.8em;

/*Media Queries*/
$mq-mobile: "(max-width: 950px)";