.btn-green {
    background    : $green;
    border-radius : 200px;
    color         : $white;
    display       : inline-block;
    font-size     : 0.875rem;
    line-height   : 20px;
    padding       : 10px 40px;
    text-transform: uppercase;
}