.modal-overlay {
    background: $white;
    inset     : 0;
    position  : fixed;
}

.modal-content {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    width         : 100%;
}

.modal-header {
    @include display-flex(center, space-between);
    padding: 1rem .5rem;
}

.modal-close {
    @include display-flex(center, center);
    background: transparent;
    border    : none;
    cursor    : pointer;
    min-height: 50px;

    img {
        height: 24px;
        width : 24px;
    }
}

.modal-navbar {
    flex: 1;
}