.section {
    @include display-flex(center, space-around);

    img {
        object-fit: contain;
        width     : 50%;
    }

    &:nth-child(2n + 2) {
        flex-direction: row-reverse;
    }

    .text-section {
        width  : 50%;
        padding: 1% 5%;
        @extend %texts;

        h2 {
            color        : $green;
            font-size    : 1.5em;
            font-weight  : 500;
            margin-bottom: 4%;
        }

        p {
            margin-bottom: 5%;
        }

        a {
            @extend %btn-menu;
            @extend %btn-sections;
        }
    }

    @media screen and #{$mq-mobile} {
        flex-direction: column;

        &:nth-child(2n + 2) {
            flex-direction: column;
        }

        img {
            width: 100%;
        }

        .text-section {
            padding-bottom: 8%;
            width         : 80%;

            h2 {
                font-size: 1.3em;
            }

            p,
            a {
                font-size: $font-size;
            }

            a {
                display: inline-block;
                width  : 100%;
            }
        }
    }
}