.header {
    @include display-flex(center, space-between);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding   : 1%;
}

.navbar {
    @include display-flex(center, start);
    flex: 1;
    gap : 1rem;

    .navbar-list {
        @include display-flex(start, space-between);
        gap: 1rem;

        @media screen and (max-width: 998px) {
            display: none;
        }

        .navbar-link {
            color         : $black;
            display       : inline-block;
            font-size     : 0.8em;
            font-weight   : bolder;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            transition    : .3s ease-in-out;

            &:hover {
                color: $green;
            }
        }
    }
}

.header-right {
    @include display-flex(center, space-between);
    flex: 1;
    gap : 1rem;

    @media screen and (max-width: 998px) {
        display: none;
    }

    .brand-logo {
        max-width: 150px;
    }

    .store-locator {
        color      : $black;
        font-size  : 0.9em;
        font-weight: bolder;
        flex       : 1;
        text-align : center;

        i {
            font-size: 1.5em;
        }
    }

    .auth-buttons {
        flex      : 1;
        text-align: right;

        a {
            @extend %btn-menu;
            display: inline-block;
        }

        .login-btn {
            border: 1px solid $black;
            color : $black;
        }

        .signup-btn {
            background-color: $black;
            color           : $white;
        }
    }
}