main {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }

    .content-main {
        padding: 3% 10%;

        @extend %texts;

        p {
            margin-bottom: 2%;
        }

        a {
            @extend %btn-menu;
            @extend %btn-sections;
        }

        @media screen and #{$mq-mobile} {

            p,
            a {
                font-size: $font-size;
            }
        }
    }
}